@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

.font {
    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
    background-color: rgb(138, 93, 170);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: rgba(138, 93, 170, 0.466);
    font-family: "Bitcount Grid Double", system-ui;
    font-size: 30px;
}

