body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to left top, rgb(183, 130, 194), rgb(142, 230, 225), rgb(183, 130, 194));
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(111, 77, 117);
}

.main-container{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px;
    width: 85%;
    max-width: 450px;
}

.peso-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

.input{
    padding: 10px;
    width: 70%; /*Para un diseño responsivo óptimo es mejor usar porcentajes*/
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(111, 77, 117);
    outline: none;
}

.error{
    color: rgb(212, 41, 121);
}