body{
    margin: 0;
    padding: 0;
    background-color:rgb(255, 243, 227);
    font-family:'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 90px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /*Lo centra horizontalmente*/
    top: 60px;
    z-index: 2;
}

.reloj-container{
    position: relative;
    background-color: #9568a1;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 5px solid rgb(204, 192, 192);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

.numeros div{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: #402d46;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.doce{
    top: 10px;
    left: 50%;
    transform: translateX(-50%); 
}

.tres{
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.seis{
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.nueve{
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.manecillas{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.manecillas::before{ /*circulo del centro*/
    content: "";
    width: 25px;
    height: 25px;
    background-color: #beaac4;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    z-index: 4; /*posición por encima de todas las manecillas*/
}

.manecillas div{
    background-color: white;
    width: 7px;
    position: absolute;
    height: 120px;
    transform-origin: bottom center;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.manecillas .horas{
    height: 80px;
    transform: rotate(30deg);
}

.manecillas .segundos{
    transform: rotate(250deg);
    background-color: #563c5e;
}